*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
}

.landing-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.color {
  position: absolute;
  filter: blur(12rem);
}

.color-1 {
  top: 0;
  left: 0;
  width: 100vw;
  height: 40vh;
  background-color: #ff359b;
}

.color-2 {
  top: 30vh;
  left: 30vw;
  width: 50vw;
  height: 40vh;
  background-color: #fffd87;
}

.color-3 {
  bottom: 0;
  right: 0;
  width: 60vw;
  height: 40vh;
  background-color: #00d2ff;
}

.squere {
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.squere-1 {
  top: 5rem;
  left: 55rem;
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  animation: up-down 3s 0.4s forwards;
}

.squere-2 {
  top: 25rem;
  left: 57rem;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  z-index: 3;
  backdrop-filter: blur(5px);
  animation: right-left 3s 0.4s forwards;
}

.squere-3 {
  top: 18rem;
  left: 28rem;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  z-index: 3;
  backdrop-filter: blur(5px);
  animation: left-right 3s 0.4s forwards;
}

@keyframes up-down {
  0% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes left-right {
  0% {
    transform: translateX(-1.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes right-left {
  0% {
    transform: translateX(1.5rem);
  }
  100% {
    transform: translateX(0);
  }
}

.form {
  position: absolute;
  z-index: 2;
  width: 25rem;
  height: 26rem;
  padding: 2rem;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(5px);
}

.heading-secondary {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 0.4rem;
}

.heading-secondary::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 25%;
  height: 2px;
}

label {
  display: block;
  font-size: 1rem;
  color: #777;
  margin-bottom: 1rem;
}

label a {
  color: #777;
  text-decoration: underline;
}

input {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 0.6rem 1.5rem;
  border-radius: 15rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-left: 1px solid white;
  border-top: 1px solid white;
}

.submit-button {
  width: 30%;
  background-color: white;
  cursor: pointer;
  margin-bottom: 2rem;
}
